@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #1919e6;

  --text-main: #111827;
  --text-muted: #6b7280;
  --border-subtle: #f1f1f1;

  --neutral-soft: #f9fafb;
  --accent: #90e0ef;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
  --color-primary: var(--primary);
  --color-neutral-soft: var(--neutral-soft);

  --color-text-accent: var(--accent);
  --color-border-subtle: var(--border-subtle);

  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-sans);
  --font-alfa: var(--font-alfa);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;

    --primary: #1919e6;
    --text-main: #111827;
    --text-muted: #6b7280;
    --border-subtle: #f1f1f1;
    --accent: #90e0ef;
    --neutral-soft: #f9fafb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: inherit !important;
    background-color: transparent !important;
    caret-color: inherit;
  }
}
